<a href="https://colab.research.google.com/github/marianqian/Intro-to-ML-and-DL-Using-fast.ai/blob/master/notebooks/Lesson_1_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Welcome to the AIM Academy! This is the first lesson for you to be familiar with the Python coding language. While this notebook does not cover the vast principles that come with Python, it introduces the Python you need to get started with deep learning. 

NOTE: Educational use and distribution is permitted, but credit and attribution to AIM Academy is required.

#Learning Objectives


*   Understand simple Python syntax
*   Use data structures, methods, and variables
* Understand how to import libraries
* Understand how to work Google Colab

# Using Google Colab

Google Colaboratory is an online Jupyter Notebook. Running deep learning related tasks on Colaboratory is free and easy to use because everything is already connected to a GPU, which allows us to do computations faster.

This block is a text block. Code blocks, shown below, can be executed by pressing Ctrl + Enter or by clicking on the small box with or without the line number on the left.

In [0]:
print("I am a code block")

I am a code block

As you can see, the output of the block says what we wanted to print inside, which was a string object. 
One important note: 
Jupyter Notebooks allow users to print out objects by simply stating them. In normal programs or Python scripts, we have to use the print() function to do the same thing. See how the last two blocks give the same output?

In [0]:
"This is a string"

'This is a string'

In [0]:
print("This is a string")

This is a string

# Indentation

Python is structured so that every "indent" allocates the start of a new block or section of code. For-loops and conditional statements, classes, and methods all require indents to distinguish the different parts of code. For example: 
```
1   sum = 0
2   for i in range(9):
3      sum += i
4      print(i)
```
The indentation between lines 2 and 3 indicate that the lines of code indented after line 2 are a separate section of code that run in relation to line 2. When we learn more about the other data structures, indentation will make more sense as we go along.
![](https://www.python-course.eu/images/blocks.png)

(Python 3 Tutorial, python-course.eu, Bernd Klein)

Try running the next two code blocks by pressing the small box on the left.

In [0]:
for x in range(10):
  if x % 3 == 0:
    print(str(x) + " is divisible by 3")

0 is divisible by 3
3 is divisible by 3
6 is divisible by 3
9 is divisible by 3

In [0]:
for x in range(10):
print(x)

IndentationError: ignored

Notice in the second interactive code block how there is an *IndentationError* because line 2 (`print(x)`) is not indented. Line 2 in the first interactive code block is indented (`if x % 3 == 0:`), and no error comes up.

# Print

The print() function allows us to print out the value stored inside a variable, which we will describe in more detail later. 
In the code block below, the print() function is preceded by a question mark (?). In Google Colab, running this cell will show a pop-up window with instructions and information about the print() function.

In [0]:
?print()

Here, we use the type() function to check which data type the numbers are. In Python, numbers are classified into data types such as integers and floats (otherwise known as decimal numbers). In order to use the type() function, pass through a value and the output will be which data class type the value is in. Other data types include strings, booleans, and complex objects.

Notice here, the print() function is also used to print out what the data type is. The "2 is type {}" is a string, with .format(type(2)) being "called" at the end with a period. The {} (brackets) indicate that we want to put the output of type(2) into that specific space in the string. The output, when the cell is run, is "2 is type <class 'int'>", and <class 'int'> is the output result of type(2).

In [0]:
2
print("2 is type {}".format(type(2)))
0.5
print("0.5 is type {}".format(type(0.5)))

2 is type <class 'int'>
0.5 is type <class 'float'>

#Operations
Python allows for easy arithmetic operations. Run the next few cells to explore how to add, subtract, multiply, and divide numbers of your own.

In [0]:
10 + 4

14

In [0]:
10 - 4

6

In [0]:
10 * 4

40

In [0]:
10 / 4

2.5

The == is equivalent to determining whether two values are equal to one another. The output is a True or False statement (True and False are boolean data types). 
The = sign (single equal sign) is used for a different purpose, so the double equal sign is used to test if two values are equal.

In [0]:
4 == 4

True

The != sign is used to determine whether two values are not equal. In this example, 4 is the same value as 4, therefore it is false that they are not equal, because they are in fact the same number.

In [0]:
4 != 4

False

Comparison operators, such as the less than sign (<), greater than sign (>), less than or equal to (<=), and the greater than or equal to (>=) are all used to compare two values. The output of a statement consisting of a comparison operator is a boolean (True or False). Run the next two blocks to explore the outputs.

In [0]:
print(4 < 4)
print(4 <= 4)
print(5 < 4)

False
True
False

In [0]:
print(4 > 4)
print(4 >= 4)
print(5 > 4)

False
True
True

#Variables
Variables are names or references we give to an object that stores a value. For example, the variable s is being assigned the value "hello". The variable s's value can be changed. If the line s = "dog" was added, the s would have the value "dog" instead of "hello".

In [0]:
s = "hello"

Using the type() function, the following line prints out the data type of variable s. The variable s is of class type string, or <class 'str'>. 
The len() function can be used on strings, and the print out how many characters the string contains.

In [0]:
print(type(s))
print(len(s))

<class 'str'>
5

Here, another variable temp is created. The variable temp is assigned the same value as s, and they are references to the same value, which is "hello". Because s is a string, we can concatenate other strings behind the existing string. s = s + " my name" changes the variable s to point to "hello my name" instead of just "hello".

In [0]:
temp = s
print(temp)
s = s + " my name"
print(s)

hello
hello my name

#Strings
Strings allow splicing or indexing, which is a way to look at each individual character inside the string. Indexing in python starts at 0, so the first character in the string has an index of 0. 

String can be seen as an array of individual characters. Later, you will see how indexing and splicing strings is similar to indexing and splicing with arrays and lists.

s[:2] gives the string from the beginning up to the character at index 2. 

s[2:] gives the character from index 2 to the last index in the string.

In [0]:
print(s[0])
print(s[1])
print(s[:2])
print(s[2:])

h
e
he
llo my name

#Lists
Lists are a data structure where objects can be accessed through indexes. They can be of any size, and each value in the list can be changed. Values in the list are separated with commas, and list[1] gives the second element in the list. Lists can also consist of several data types.

In [0]:
list = [1, 2, 3]
print(list)
print(list[1])
help(list)

[1, 2, 3]
2
Help on list object:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -> None -- append object to end
 |
 |  clear(...)
 |      L.clear() -> None -- remove all items from L
 |
 |  copy(...)
 |      L.copy() -> list -- a shallow copy of L
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -> None -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -> None -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

An array is a list with sublists as elements. Accessing elements through indexes require another index to access deeper into the sublist.

In [0]:
array = [[1, 3], [5, 6]]
print(array)
print(array[1])
print(array[1][1])

[[1, 3], [5, 6]]
[5, 6]
6

#Code Formats
Below in the code block is an if-statement. Because the statement 5 == 5 returns True, the statement after the if-statement is executed.

In [0]:
if(5 == 5):
  print("This statement is true")

This statement is true

Here, the variables a and b are assigned values 5 and 6 respectively. Because 5 == 6 is not true, the statement below is not exected. However, the else-statement is, because the if-statement did not "go through".

In [0]:
a = 5
b = 6
if(a == b):
  print("This statement is true")
else: 
  print("This statement is not true")

This statement is not true

The following structure is a for-loop. The print() statement inside the loop is executed or run 6 times, where the variable i is assigned a number 0, and then incremented (added by 1), until i == 6, which the loop then stops.

In [0]:
for i in range(6):
  print(i)

0
1
2
3
4
5

#Functions/Methods
Here is an example of a function or method we defined ourselves. 
The name of the function is multiply_ten(), and we must pass a number called an argument into the function in order to make it run. 

Inside the function, we are multiplying the argument we passed in by 10, which is returned.

In [0]:
def multiply_ten(num): #introduce functions, parameters
  num = num * 10
  return num

multiply_ten(10)

100

Using the keyword lambda is another way to define a function in a more efficient way. In this syntax, x is the arguement we have to pass into the function, and as you can see in the body, x is being mutiplied by 10.

In [0]:
a = lambda x: x * 10
print(a(10))

100

#Classes and Objects!
Classes are a cruicial part of programming. Each class describes specific characteristics of an object, so that everytime we create an object, they all have primarily the same structure, which is defined through a class. 

Function defined in classes are required to have the parameter self. We do not have to pass an argument in place of self when we call functions.

In the __init__ function, we define the object's parameters and variables. self.name and self.age are assigned the arguements name and age, which are passed as parameters when we first define the object. 

The bark function is also defined and prints out the word "woof" when the method is called.

In [0]:
class dog:
  type = "animal"
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def bark(self):
    print("woof")

Here, an instance or object of class dog is defined. 
Variables my_name and my_age hold values to the name and age of the dog as a string and an integer. In order to define an object, we call the class name (which is dog) and pass in the arguements required in the __init__ function, which is a name and an age. 

The object we defined is now assigned the name golden_retriever, and when we call bark(), the output is "woof".

We can also print out the object's own variables, which we defined when we created the variable by passing through my_name into dog(my_name, my_age).

In [0]:
my_name = "golden retriever"
my_age = 5
golden_retriever = dog(my_name, my_age)
golden_retriever.bark()
print(golden_retriever.name)

woof
golden retriever

#Libaries
In order to make computations easier and our code simpler, we can import libraries that have functions defined for us. One of the reasons python is so popular is because there are so many powerful libraries that make our life easier. One of these is numpy, a scientific computing library, which we can use for machine learning and several different uses.

In [0]:
import numpy

The numpy library has a function called ndarray(), which requires a number to be passed through it. The function returns a numpy array of size 5.

In [0]:
print(numpy.ndarray(5))

[0.   0.25 0.5  0.75 1.  ]

#Citations
For more information and a more indepth tutorial, please look at the following sources. 

https://www.python-course.eu/python3_class_and_instance_attributes.php

https://www.programiz.com/python-programming